.content {
    display: grid;
    grid-template-areas: "header"
                         "player"
                         "playlist-display";
    color: whitesmoke;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

@media (width > 700px) {
.content {
    grid-template-areas: "header header"
                         "playlist-display player";
}
}